<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="2.7.1" targetFramework="wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="wpa81" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="wpa81" />
</packages>